<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Triangle stuff</title>
  </head>
  <body>
    <h1>Triangle stuff</h1>
    <div>
      <%= yield %>
    </div>

  </body>
</html>
